.container {
  max-width: 480px;
}

.flexColumnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.displayFlex {
  display: flex;
  justify-content: center;
}

.text {
  margin: 0 8px 0 0;
  color: #8585AD;
}

.link {
  margin: 0;
  color: #4C4CFF;
}

.colorActive {
  color: white;
}

.cancelButton {
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  padding: 16px 40px;
  color: #4c4cff;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 64px;
  transition: all 0.3s ease-in;
}

.cancelButton:hover {
  color: white;
  opacity: 0.9;
}