li {
  list-style-type: none; 
 }

ul {
  margin: 0;
  padding: 0;
 }

.header {
  height: 88px;
  display: flex;
  justify-content: center;
  background: #1C1C21;
  box-sizing: border-box;
}

.container {
  width: 66.7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  padding: 0;
}

.menuItems {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-radius: 40px;
  height: 56px;
}

.personalArea {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-radius: 40px;
  height: 56px;
}

@media screen and (max-width: 1830px) {
  .container {
    width: 74%;
  }
}

@media screen and (max-width: 1600px) {
  .container {
    width: 84%;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 1300px) {
  .container {
    width: 99%;
  }
}

@media screen and (max-width: 1200px) {
  
}

